<div class="container">
  <div class="row">
    <div class = "col-xl-6 offset-xl-2">
      <h3>ジャンル編集</h3>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
        <div class="form-group d-flex align-items-center">
          <div style = "width: 20%;">
            <label for="genre_name">ジャンル名</label>
          </div>
          <%= f.text_field :name ,class: "form-control name", style: "width: 80%;" %>
        </div>
        <div class="form-group">
          <%= f.submit '変更を保存' ,class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>