<div class="container">
  <div class="row">
    <div class = "col-xl-6 offset-xl-3">
      <h3>新規会員登録</h3>
      <% if @customer.errors.any? %>
      <%= @customer.errors.count %>errors prohibited this obj from being saved:
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
      <% end %>

