<div class="container">
  <div class="row">
    <div class = "col-xl-3 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3 ;">注文情報確認</h4>
    </div>
  </div>
  <div class="row">
    <div class = "col-xl-8 mt-4">
      <table class = "table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= image_tag order_detail.item.image, :size => '50x50' %>
              <%= order_detail.item.name %>
            </td>
            <td>¥<%= order_detail.item.with_tax_price %></td>
            <td>¥<%= order_detail.quantity %></td>
            <td></td>
          </tr>
        </tbody>
    </div>
  </div>
</div>